* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --color-secondary-color: #0084fd;
    --color-dark-color: #333333;
    --color-light-color: #ffffff;
    --color-primary-color: #9792e4;
    --color-bg-card: #b5ddff;
    --color-contrast-color: #fcc060;
    --color-text: #424242;
}
body {
    font-family: 'PT Sans', sans-serif;
}

/* utility */

img {
    display: block;
    width: 100%;
}
ul {
    display: none;
    list-style: none;
}
.no-txt-decoration {
    text-decoration: none;
}
.horizontal-li {
    display: inline-block;
}

/* header */

header {
    background-color: var(--color-secondary-color);
    height: 70px;
}
nav {
    margin: 0 auto;
    height: 100%;
    width: 500px;
}
.fa-bars {
    font-size: 1.5em;
}

/* flex */

.flex-space-between {
    display: flex;
    justify-content: space-between;
}
.align-items-center {
    display: flex;
    align-items: center;
}

/* media query */

@media screen and (min-width: 576px) {
    
}
@media screen and (min-width: 768px) {
    
}
@media screen and (min-width: 992px) {
    
}
@media screen and (min-width: 1200px) {
    
}