* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --color-secondary-color: #0084fd;
    --color-dark-color: #333333;
    --color-light-color: #ffffff;
    --color-primary-color: #9792e4;
    --color-bg-card: #b5ddff;
    --color-contrast-color: #fcc060;
    --color-text: #424242;
}
body {
    font-family: 'PT Sans', sans-serif;
}

/* colors */

.txt-primary-color {
    color: var(--color-primary-color);
}
.txt-first-color {
    color: var(--color-secondary-color);
}
.txt-second-color {
    color: var(--color-text);
}
.txt-light-color {
    color: var(--color-light-color);
}
.txt-contrast-color {
    color: var(--color-contrast-color);
}
.font-bold {
    font-weight: bold;
}
.bg-light {
    background-color: var(--color-light-color);
}
.bg-primary {
    background-color: var(--color-primary-color);
}
.bg-dark {
    background-color: var(--color-dark-color);
}

/* utility */

img {
    display: block;
    width: 100%;
}
ul {
    display: none;
    list-style: none;
}
.no-txt-decoration {
    text-decoration: none;
}
.horizontal-li {
    display: inline-block;
}
.wrapper {
    margin: 0 auto;
    max-width: 500px;
}
.odd {
    padding: 40px 20px;
}
h4 {
    font-size: 1.5em;
}
.my-20 {
    margin-top: 20px;
    margin-bottom: 20px;
}
.my-30 {
    margin-top: 30px;
    margin-bottom: 30px;
}
.mt-50 {
    margin-top: 50px;
}
.py-30 {
    padding-top: 30px;
    padding-bottom: 30px;
}
.gen-padding {
    padding: 20px;
}
.line-height {
    line-height: 1.5;
}
.txt-center {
    text-align: center;
}
.btn-blue {
    background-color: var(--color-secondary-color);
    border-radius: 25px;
    padding: 10px 10px;
    font-size: 1.2em;
    width: 200px;
}
.icon-size {
    font-size: 100px;
}
.even {
    background-color: var(--color-primary-color);
    padding: 40px 20px;
}
h3 {
    font-size: 1.8em;
}
.general-card {
    width: 100%;
    border-radius: 60px;
    padding: 10px;
}
.txt-uppercase {
    text-transform: uppercase;
}
.font-bigger {
    font-size: 1.2em;
}
.font-giant {
    font-size: 4em;
}
h2 {
    font-size: 2.4em;
}
.btn-purple {
    background-color: var(--color-primary-color);
    border-radius: 25px;
    padding: 10px 50px;
    font-size: 1.2em;
}
.btn-white {
    background-color: var(--color-light-color);
    border-radius: 30px;
    padding: 20px 80px;
    font-size: 1.2em;
}

/* header */

header {
    background-color: var(--color-secondary-color);
    height: 70px;
}
nav {
    margin: 0 auto;
    height: 100%;
    max-width: 500px;
}
.fa-bars {
    font-size: 1.5em;
    cursor: pointer;
}

/* main */

/* demo section */

.card {
    width: 100%;
    background-color: var(--color-bg-card);
    border-radius: 20px;
    padding: 20px 40px;
    margin-bottom: 20px;
}
.card-img > img {
    position: relative;
    bottom: -20px;
}

/* planning section */

.arrow-icon {
    border-radius: 50%;
    background-color: var(--color-primary-color);
    font-size: 1.2em;
    padding: 20px;
    cursor: pointer;
}

/* partners section */

.testimonial-img {
    margin: 0 auto;
    width: 250px;
    height: 250px;
    background-image: url(../img/testimonial1.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}
.testimonial-img-second {
    margin: 0 auto;
    width: 250px;
    height: 250px;
    background-image: url(../img/testimonial2.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}
.testimonial-img-third {
    margin: 0 auto;
    width: 250px;
    height: 250px;
    background-image: url(../img/testimonial3.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}
.testimonial-content {
    padding: 20px;
}

/* benefits section */

.box {
    border-radius: 20px;
    background-color: var(--color-light-color);
    padding: 20px;
}

/* about us section */

.about-us-image {
    position: relative;
    width: 200px;
    height: 200px;
    background-image: url(../img/about.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}
.about-us-image > i {
    color: var(--color-primary-color);
    font-size: 4em;
    position: absolute;
    top: 0;
    right: 0;
}
.fa-linkedin {
    transform: translateX(-20px);
}

/* call to action section */

.fa-circle {
    font-size: 0.2em;
    transform: translateY(-0.5em);
}

/* flex */

.flex-space-between {
    display: flex;
    justify-content: space-between;
}
.align-items-center {
    display: flex;
    align-items: center;
}
.flex-column {
    display: flex;
    flex-direction: column;
}

/* media query */

@media screen and (min-width: 576px) {
    
}
@media screen and (min-width: 768px) {
    
}
@media screen and (min-width: 992px) {
    
}
@media screen and (min-width: 1200px) {
    
}