* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --color-secondary-color: #0084fd;
    --color-dark-color: #333333;
    --color-light-color: #ffffff;
    --color-primary-color: #9792e4;
    --color-bg-card: #b5ddff;
    --color-contrast-color: #fcc060;
    --color-text: #424242;
}
body {
    font-family: 'PT Sans', sans-serif;
}

/* colors */

.txt-first-color {
    color: var(--color-secondary-color);
}
.txt-second-color {
    color: var(--color-text);
}
.txt-light-color {
    color: var(--color-light-color);
}
.font-bold {
    font-weight: bold;
}

/* utility */

img {
    display: block;
    width: 100%;
}
ul {
    display: none;
    list-style: none;
}
.no-txt-decoration {
    text-decoration: none;
}
.horizontal-li {
    display: inline-block;
}
.wrapper {
    margin: 0 auto;
    width: 500px;
}
.odd {
    padding: 40px 20px;
}
h4 {
    font-size: 1.5em;
}
.my-20 {
    margin-top: 20px;
    margin-bottom: 20px;
}
.line-height {
    line-height: 1.5;
}
.txt-center {
    text-align: center;
}
.btn-blue {
    background-color: var(--color-secondary-color);
    border-radius: 25px;
    padding: 10px 10px;
    margin: 30px 0;
    font-size: 1.2em;
    width: 200px;
}

/* header */

header {
    background-color: var(--color-secondary-color);
    height: 70px;
}
nav {
    margin: 0 auto;
    height: 100%;
    max-width: 500px;
}
.fa-bars {
    font-size: 1.5em;
}

/* main */

/* demo section */

.card {
    width: 100%;
    background-color: var(--color-bg-card);
    border-radius: 20px;
    padding: 20px 40px;
    margin-bottom: 20px;
}
.card-img > img {
    position: relative;
    bottom: -20px;
}

/* flex */

.flex-space-between {
    display: flex;
    justify-content: space-between;
}
.align-items-center {
    display: flex;
    align-items: center;
}
.flex-column {
    display: flex;
    flex-direction: column;
}

/* media query */

@media screen and (min-width: 576px) {
    
}
@media screen and (min-width: 768px) {
    
}
@media screen and (min-width: 992px) {
    
}
@media screen and (min-width: 1200px) {
    
}